// Variables
// colores
$mainColor:rgb(243, 242, 201);
$contenidoColor:  rgba(216, 185, 164, 0.78);
// Fonts
$Poppins: 'Poppins', sans-serif;
$Roboto: 'Roboto Serif', sans-serif;
$fontSm: 1.4rem ;
$fontMd: 1.6rem;
$fontLg: 1.8rem;
// Mixin----------------------------------------------------------
@mixin conteiner ($margin, $padding, $display, $direction, $justify, $align){
	margin: $margin;
	padding: $padding;
	display: $display;
	flex-direction: $direction;
	justify-content: $justify;
	align-content: $align;
}
// Map------------------------------------------------------------
$paleta:(
	'background-hf':linear-gradient(90deg, rgba(0,0,0,1) 25%, rgb(51, 19, 19) 50%, rgba(0,0,0,1) 75%),
	'background-cont':rgba(216, 185, 164, 0.78),
	'background-btn':rgba(173, 54, 30, 0.7),
	'background-input':rgba(128, 114, 112, 0.8),
	'borde-main':rgb(163, 221, 203),
	'borde-second':rgb(0, 0, 0),
	'borde-scform':rgb(204, 204, 204),
	'colorfont-hf':rgb(243, 242, 201),
	'colorfont-tx':rgb(87, 5, 48),
	'colorfont-input':rgb(255, 228, 225),
);
// contenido
*{
	margin: 0; padding: 0;
	font-family: $Roboto;
	box-sizing: border-box;
	overflow-x: hidden;
}
html{
	font-size: 62.5%;
}
body{
	background-image: url(../img/fondoburningman.jpg);
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-attachment: fixed;
	margin: 0; padding: 0 ;
	section{
		padding: 20px;
	}
	p{
		margin: 0;
		font-family: $Poppins;
	}
}
// header
header{
	background: map-get($map: $paleta, $key: 'background-hf');
	display: block;
    div{
		@include conteiner(0, 0, flex, row, flex-start, center);width: 100%;	
    }
}
.encabezado__img{
	width: 20%;
}
.encabezado__titulo{
	font-size: 2.5rem;
	color: map-get($map: $paleta, $key: 'colorfont-hf');
	width: 73%;
	margin: auto 0;
	text-align: center;
	text-transform: uppercase;
}
.nav__enlace{
	@include conteiner(0, 4px 5px, flex, row-reverse, space-evenly, center);
	font-size: $fontSm;
	list-style: none;
	ul{
		width: 100%;
	}
    li{
		display: inline-block;
		a{
        	text-decoration: none;
        	color: map-get($map: $paleta, $key: 'colorfont-hf');
        	transition: all 0.7s;
        	display: block;
        	padding: 5px 5px;
        	cursor: pointer;
			text-align: center;
    	}
	}
    
}
// footer
.pie{
	font-size: $fontMd;
	background: map-get($map: $paleta, $key: 'background-hf');
	flex-direction: column;
}
.footer_nav{
	flex-direction: row;
	margin-bottom: 8px;
}
	.pie__titulo--md{
		color: map-get($map: $paleta, $key: 'colorfont-hf');
		padding: 10px 0;
		font-size: $fontLg;
		text-align: center;
	}
	.pie__enlace--sm{
		padding: 0 30px;
		color: map-get($map: $paleta, $key: 'colorfont-hf');
		font-size: $fontSm;
        p{
            display: none;
        }
        &:hover{
            font-weight: 600;
		    transition: all 0.2s;
        }
	}
