.formulario__cont{
	background-color: map-get($map: $paleta, $key: 'background-cont');
	width: 90%;
	margin: 20px auto;
	border-radius: 10px;
	border: 4px solid map-get($map: $paleta, $key: 'borde-main');
}
.styleForm{
	color: map-get($map: $paleta, $key: 'colorfont-tx');
	font-size: $fontMd;
}
.contact__field{
	outline: none;
	width: 100%;
	background-color: map-get($map: $paleta, $key: 'background-input');
	color: map-get($map: $paleta, $key: 'colorfont-input');
	margin: 10px 0;
	border: 1px solid map-get($map: $paleta, $key: 'borde-scform');
	padding: 16px 0px 16px 10px;
	font-size: $fontSm;
	font-family: $Poppins;
	font-weight: 300;
	::placeholder{
		color: map-get($map: $paleta, $key: 'colorfont-input');
	}
    &:focus{
	    border: 2px solid rgb(99, 0, 0);
    }
}
.contact__center{
	@extend .form__btn;
	display: flex;
	flex-direction: column;
	.contact__btn{
		font-weight: 600;
		font-size: $fontMd;
	}
}
