.padre{
	@include conteiner( 0, 10px, flex, row, space-between, space-evenly,);
	font-size: $fontMd;
	width: 100%;
}
.columna{
	background-color: map-get($map: $paleta, $key: 'background-cont');
	color: map-get($map: $paleta, $key: 'colorfont-tx');
	padding: 1.8rem; 
	margin: 10px 0;
	font-family: $Poppins;
	border: solid 4px map-get($map: $paleta, $key: 'borde-main');
	border-radius: 10px;
	overflow-y: auto;
	.textCentre{
		margin-top: 10px;
	}
}
// tracklist
.tabla{
	border: 4px solid map-get($map: $paleta, $key: 'borde-main');
	background-color: map-get($map: $paleta, $key: 'background-cont');
	margin: 20px 10px;
}
.tabla__titulo{
	font-size: $fontMd;
	text-align: center;
	border: 1px solid map-get($map: $paleta, $key: 'borde-second');
	padding: 10px;
	text-decoration: underline;
}
.tabla section{
	text-align: center;
	border: 1px solid map-get($map: $paleta, $key: 'borde-second');
	font-size: $fontSm;
	padding: 4px;
    p{
        font-family: $Roboto;
    }
    a:hover{
        font-weight: bold;
    }
}