.body__creador{
	background-color: map-get($map: $paleta, $key: 'background-cont');
	margin: 10px;
	border: solid 4px #a3ddcb ;
	border-radius: 10px;
	font-size: $fontSm;
	font-weight: 600;
	height: auto;
    .foto__pie{
      color: map-get($map: $paleta, $key: 'borde-second');
      font-family: $Roboto;
      font-size: $fontSm;
      padding: 8px;
      margin-bottom: 10px;
    }
    p{
      font-size: $fontLg;
      margin: 10px;
      padding: 10px;
      color: map-get($map: $paleta, $key: 'colorfont-tx');
    }
    img{
      margin: 10px;
    }
    a{
      img{
        margin: 10px;
      }
      img:hover{
        border: 1px solid map-get($map: $paleta, $key: 'borde-second');
        transform: scale(0.9);
        cursor: pointer;
        transition: transform 0.4s;
      }
    }
}
.contenido{
	flex-direction: column;
	width: 100%;
	text-align: center
}
// contacto
.formulario__cont{
	background-color: map-get($map: $paleta, $key: 'background-cont');
	width: 90%;
	margin: 20px auto;
	border-radius: 10px;
	border: 4px solid map-get($map: $paleta, $key: 'borde-main');
}
.styleForm{
	color: map-get($map: $paleta, $key: 'colorfont-tx');
	font-size: $fontMd;
}
.contact__field{
	outline: none;
	width: 100%;
	background-color: map-get($map: $paleta, $key: 'background-input');
	color: map-get($map: $paleta, $key: 'colorfont-input');
	margin: 10px 0;
	border: 1px solid map-get($map: $paleta, $key: 'borde-scform');
	padding: 16px 0px 16px 10px;
	font-size: $fontSm;
	font-family: $Poppins;
	font-weight: 300;
	::placeholder{
		color: map-get($map: $paleta, $key: 'colorfont-input');
	}
    &:focus{
	    border: 2px solid rgb(99, 0, 0);
    }
}
.contact__center{
	@extend .form__btn;
	display: flex;
	flex-direction: column;
	.contact__btn{
		font-weight: 600;
		font-size: $fontMd;
	}
}